{% load static %}
{% include 'partials/_header.html' %}

<body>
    {% include 'partials/_navbar.html' %}
    <div class="container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed mb-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Resumo contas físicas
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="row">
                        <div class="col-12 responsive-font-example">
                            <div class="card border-warning mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Itaú</h5>
                                    <p class="card-text mb-2">Conta Corrente: $R$200,00</p>
                                    <p class="card-text mb-2">Conta Poupança: $R$200,00</p>
                                    <p class="card-text mb-2"><b>Total: $R$400,00</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 responsive-font-example">
                            <div class="card border-warning mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Nubank</h5>
                                    <p class="card-text mb-2">Conta Corrente: $R$200,00</p>
                                    <p class="card-text mb-2">Conta Pupança: $R$200,00</p>
                                    <p class="card-text mb-2"><b>Total: $R$400,00</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed mb-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                        Contas
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo">
                    <!-- <h5 class="card-title mb-3">Contas</h5> -->
                    {{ pote_do_banco.nome }}
                    <div class="row">
                        {% for event in event_list%}
                        <div class="col-sm-6 responsive-font-example">
                            <div class="card text-dark border-secondary card-effect shadow bg-light mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{event.event_name}}</h5>
                                    <p class="card-text">{{event.product}}</p>
                                    <p class="card-text">{{event.user}}</p>
                                    <p class="card-text produto-preco">Saldo R${{event.amount}}</p>
                                    {% comment %} <a href="{% url 'account_statement' account_id=pote.id %}"
                                        class="btn btn-outline-secondary btn-sm">Extrato</a>
                                    <a href="{% url 'withdraw' account_id=pote.id %}"
                                        class="btn btn-outline-secondary btn-sm">Sacar</a>
                                    <a href="{% url 'deposit' account_id=pote.id %}"
                                        class="btn btn-outline-secondary btn-sm">Depositar</a>
                                    <a href="{% url 'transfer' %}"
                                        class="btn btn-outline-secondary btn-sm">Tranferir</a>
                                    <a href="{% url 'edit_account' account_id=pote.id account_name=pote.account_name account_name_real_life=pote.account_name_real_life description=pote.description percent=pote.percent %}"
                                        class="btn btn-outline-secondary btn-sm">Editar</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>